{% extends 'main.html' %}
{% load bootstrap %}
{% block title %} Add/Edit {% endblock %}
{% block body %}
    <div class="card" style="width: 600px;">
        <div class="card-body">
            <h5 class="card-title">Save user</h5>
            <form role="form" method="post" enctype="multipart/form-data"">
                {% csrf_token %}
                {{ form|bootstrap }}
                <a href="{% url 'all_users' %}">Undo</a>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
{% endblock %}